FIREBASE_PROJECT_ID=ryder-cup-f637c
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@ryder-cup-f637c.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
ADMIN_PIN=1234
PORT=3001
